//
   Created with IntelliJ IDEA.
   User: samuele
   Date: 3/4/14
   Time: 4:52 PM
   main page component

div(class='row')
    div(class='col-sm-12')
        h2 Top Stories
div(class='row' , id='top-stories')
    div(class='col-sm-3')
        h1 First experiment with Node.js and Angular.js
    div(class='col-sm-3')
        h1 this is a home page view
    div(class='col-sm-3')
        h1 this is the third column in a row
    div(class='col-sm-3')
        h1 this is the forth column in a row
div(class='col-sm-8')
    div(class='row')
        h1 more stories............................
div(class='col-sm-2')
    div(class='row bleft')
        h2 Morbous colonnino

