doctype html
html(ng-app="firstApp")
  head
    meta(charset='utf8')
    base(href='/')
    title First experiment with node and Angular js

    link(rel='stylesheet', href='/css/style.css')
  body
    block body