doctype html
html(ng-app="firstApp")
  head
    meta(charset='utf8')
    base(href='/')
    title First experiment with node and Angular js
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js')
    script(src='js/app.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    block body